snippet svg
<svg role="img" class="$1">
  <use xlink:href="#$1"></use>
</svg>
endsnippet

snippet repeater
{% for item in post.get_field('$1') %}
  $2
{% endfor %}
$0
endsnippet

snippet html "HTML5 Template"
<!DOCTYPE html>
<html>
  <head>
    <meta content="charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>$1</title>
    ${2:link}
  </head>
  <body>
    ${3:body}
  </body>
</html>
endsnippet
