snippet php "PHP opening tag"
<?php
${1}
endsnippet

snippet doc "DocBlock default"
/**
 * ${1}
 *
 * PHP Version 7
 *
 * @category ${2:None}
 * @package  ${3:None}
 * @author   ${4:Marcel Bischoff <marcel@herrbischoff.com>}
 * @license  ${5:MIT http://example.com https://opensource.org/licenses/MIT}
 * @link     ${6:None}
 */
${7}
endsnippet
