snippet vbase "Vue.js base structure" b
<template>
  <div>

  </div>
</template>

<script>
  export default {
    data() {
      return {
        message: ''
      }
    }
  }
</script>

<style lang="stylus" scoped>

</style>
endsnippet
